install/installation-files
suitecrm-analytics-server/*
suitecrm-analytics-server-backup/
SuiteCRMAnalytics.mondrian.xml
install.properties
*.zip
suitecrm-analytics.code-workspace
install/solution/public/SuiteCRM+Analytics/Reports/*.local
